/* Variables globales de GOV.CO */
:root {
  --govco-primary-color: #3366CC; /* Azul primario de GOV.CO */
  --govco-secondary-color: #004884; /* Azul oscuro */
  --govco-tertiary-color: #4B4B4B; /* Tundora */
  --govco-accent-color: #F42F63; /* Color acento */
  --govco-white-color: #FFFFFF;
  --govco-gray-color: #F2F2F2;
  --govco-gray-menu: #f6f8f9;
  --govco-success-color: #068460; /* Verde de éxito */
  --govco-error-color: #D31F3F; /* Rojo de error */
  --govco-border-color: #737373; /* Gris para bordes */
  --govco-background-color: #F2F2F2; /* Gris para bordes */
  --govco-font-primary: 'Montserrat', sans-serif; /* Fuente primaria */
  --govco-font-secondary: 'Work Sans', sans-serif; /* Fuente secundaria */
  --govco-border-radius: 5px; /* Radio de bordes redondeados */
  --govco-box-shadow: 0 2px 4px rgba(23, 177, 74, 0.1); /* Sombra suave */
}

html {
  font-size: 16px; /* Tamaño base */
}

body {
<<<<<<< HEAD
  margin: 0; /* Sin margen alrededor del cuerpo */
  padding: 0; /* Sin relleno interno */
  font-family: var(--govco-font-secondary); /* Aplica la fuente secundaria */
  background-color: var(--govco-gray-color); /* Fondo gris claro */
  color: var(--govco-border-color); /* Texto gris */
  -webkit-font-smoothing: antialiased; /* Suavizado de fuentes en WebKit */
  -moz-osx-font-smoothing: grayscale; /* Suavizado de fuentes en OS X */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--govco-font-primary); /* Usa la fuente primaria para encabezados */
  color: var(--govco-tertiary-color); /* Color de texto Tundora */
=======
  margin: 0;
  padding: 0;
  font-family: var(--govco-font-secondary);
  background-color: var(--govco-gray-color);
  color: var(--govco-border-color);
  font-size: 1rem; /* 16px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--govco-font-primary);
  color: var(--govco-tertiary-color);
  font-size: 2rem; /* 32px */
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

h2 {
  font-family: var(--govco-font-primary);
  color: var(--govco-tertiary-color);
  font-size: 1.75rem; /* 28px */
}

h3 {
  font-family: var(--govco-font-primary);
  color: var(--govco-tertiary-color);
  font-size: 1.5rem; /* 24px */
}

/* Continúa con h4, h5, h6 si es necesario */

p, span, a, input, button, label {
<<<<<<< HEAD
  font-family: var(--govco-font-secondary); /* Fuente secundaria para estos elementos */
  color: var(--govco-tertiary-color); /* Color Tundora para el texto */
=======
  font-family: var(--govco-font-secondary);
  color: var(--govco-tertiary-color);
  font-size: 1rem; /* 16px */
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

a {
  text-decoration: none; /* Sin subrayado en los enlaces */
  color: var(--govco-tertiary-color); /* Color Tundora */
  transition: color 0.3s ease; /* Transición suave de color */
}

a:hover {
  color: var(--govco-primary-color); /* Cambia al color primario al hacer hover */
}

button {
<<<<<<< HEAD
  background-color: var(--govco-primary-color); /* Fondo azul primario */
  color: var(--govco-white-color); /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor a puntero */
  transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

button:hover {
  background-color: var(--govco-secondary-color); /* Cambia al color de resalto en hover */
}

input, select, textarea {
  border: 1px solid var(--govco-border-color); /* Borde gris */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  font-family: var(--govco-font-secondary); /* Fuente secundaria */
  color: var(--govco-secondary-color); /* Texto azul oscuro */
=======
  background-color: var(--govco-primary-color);
  color: var(--govco-white-color);
  border: none;
  border-radius: var(--govco-border-radius);
  padding: 0.625rem 1.25rem; /* 10px 20px */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem; /* 16px */
}

button:hover {
  background-color: var(--govco-accent-color);
}

input, select, textarea {
  border: 1px solid var(--govco-border-color);
  border-radius: var(--govco-border-radius);
  padding: 0.625rem; /* 10px */
  font-family: var(--govco-font-secondary);
  color: var(--govco-secondary-color);
  font-size: 1rem; /* 16px */
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

input:focus, select:focus, textarea:focus {
  outline: none; /* Sin contorno adicional */
  border-color: var(--govco-primary-color); /* Borde azul primario en foco */
}

.container {
<<<<<<< HEAD
  max-width: 1140px; /* Ancho máximo de contenedor */
  margin: 0 auto; /* Centrado horizontal */
  padding: 20px; /* Espaciado interno */
}

.card {
  background-color: var(--govco-white-color); /* Fondo blanco */
  border: 1px solid var(--govco-gray-color); /* Borde gris claro */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
  box-shadow: var(--govco-box-shadow); /* Sombra suave */
  padding: 20px; /* Espaciado interno */
}

.card-header {
  background-color: var(--govco-primary-color); /* Fondo azul primario */
  color: var(--govco-white-color); /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  border-bottom: 1px solid var(--govco-border-color); /* Borde inferior gris */
  font-weight: bold; /* Texto en negrita */
  border-radius: var(--govco-border-radius) var(--govco-border-radius) 0 0; /* Bordes redondeados en la parte superior */
}

.card-body {
  padding: 20px; /* Espaciado interno */
=======
  max-width: 71.25rem; /* 1140px */
  margin: 0 auto;
  padding: 1.25rem; /* 20px */
}

.card {
  background-color: var(--govco-white-color);
  border: 1px solid var(--govco-gray-color);
  border-radius: var(--govco-border-radius);
  box-shadow: var(--govco-box-shadow);
  padding: 1.25rem; /* 20px */
  font-size: 1rem; /* 16px */
}

.card-header {
  background-color: var(--govco-primary-color);
  color: var(--govco-white-color);
  padding: 0.625rem; /* 10px */
  border-bottom: 1px solid var(--govco-border-color);
  font-weight: bold;
  border-radius: var(--govco-border-radius) var(--govco-border-radius) 0 0;
  font-size: 1.25rem; /* 20px */
}

.card-body {
  padding: 1.25rem; /* 20px */
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

.success-message {
<<<<<<< HEAD
  color: var(--govco-success-color); /* Texto verde */
  background-color: rgba(6, 132, 96, 0.1); /* Fondo verde claro */
  border: 1px solid var(--govco-success-color); /* Borde verde */
  padding: 10px; /* Espaciado interno */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
}

.error-message {
  color: var(--govco-error-color); /* Texto rojo */
  background-color: rgba(211, 31, 63, 0.1); /* Fondo rojo claro */
  border: 1px solid var(--govco-error-color); /* Borde rojo */
  padding: 10px; /* Espaciado interno */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
=======
  color: var(--govco-success-color);
  background-color: rgba(6, 132, 96, 0.1);
  border: 1px solid var(--govco-success-color);
  padding: 0.625rem; /* 10px */
  border-radius: var(--govco-border-radius);
}

.error-message {
  color: var(--govco-error-color);
  background-color: rgba(211, 31, 63, 0.1);
  border: 1px solid var(--govco-error-color);
  padding: 0.625rem; /* 10px */
  border-radius: var(--govco-border-radius);
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

/* Navegación */
.navbar {
<<<<<<< HEAD
  display: flex; /* Organiza los elementos en una fila */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 1rem 2rem; /* Espaciado interno */
  background-color: var(--govco-primary-color); /* Fondo azul primario */
  border-bottom: 2px solid var(--govco-secondary-color); /* Borde inferior azul oscuro */
  font-family: var(--govco-font-primary); /* Fuente primaria */
}

.navbar .nav-links a {
  color: var(--govco-white-color); /* Texto blanco */
  margin-right: 1rem; /* Margen derecho */
  transition: color 0.3s ease; /* Transición suave de color */
}

.navbar .nav-links a:hover {
  color: var(--govco-secondary-color); /* Cambia al color de resalto en hover */
}

.navbar .login-btn {
  background-color: var(--govco-secondary-color); /* Fondo de resalto */
  color: var(--govco-white-color); /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: var(--govco-border-radius); /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor a puntero */
=======
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--govco-primary-color);
  border-bottom: 2px solid var(--govco-secondary-color);
  font-family: var(--govco-font-primary);
  font-size: 1rem; /* 16px */
}

.navbar .nav-links a {
  color: var(--govco-white-color);
  margin-right: 1rem;
  transition: color 0.3s ease;
  font-size: 1rem; /* 16px */
}

.navbar .nav-links a:hover {
  color: var(--govco-accent-color);
}

.navbar .login-btn {
  background-color: var(--govco-accent-color);
  color: var(--govco-white-color);
  border: none;
  border-radius: var(--govco-border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem; /* 16px */
  cursor: pointer;
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
}

.navbar .login-btn:hover {
  background-color: var(--govco-accent-color);
}

.min-h-screen {
<<<<<<< HEAD
  margin-top: 4rem; /* Ajusta el tamaño según el alto de la barra de navegación */
}
=======
  margin-top: 4rem; /* Ajusta según el alto de la barra de navegación */
}

/* Modo de alto contraste */
body.high-contrast {
  background-color: #000;
  color: #fff;
}

body.high-contrast a {
  color: #0ff;
}

body.high-contrast h1,
body.high-contrast h2,
body.high-contrast h3,
body.high-contrast h4,
body.high-contrast h5,
body.high-contrast h6 {
  color: #fff;
}

body.high-contrast button {
  background-color: #fff;
  color: #000;
}

body.high-contrast .navbar {
  background-color: #000;
  border-bottom: 2px solid #fff;
}

body.high-contrast .card {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

body.high-contrast .card-header {
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Clase global para centrar el contenido con márgenes */
.container-centered {
  margin-left: 6rem;
  margin-right: 6rem;
  max-width: 100%; /* Asegurarse de que no se desborde del contenedor */
}

/* Asegurarse de que el contenido en pantallas pequeñas sea responsivo */
@media (max-width: 1200px) {
  .container-centered {
      margin-left: 3rem; /* Reducir márgenes en pantallas más pequeñas */
      margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .container-centered {
      margin-left: 1.5rem; /* Márgenes más pequeños para móviles */
      margin-right: 1.5rem;
  }
}

/* Si deseas quitar los márgenes en pantallas muy pequeñas */
@media (max-width: 576px) {
  .container-centered {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }
}
>>>>>>> 2fd668844b2344eeb15d077a0b0ba7be0e89880a
